@font-face{
    font-family: 'roboto';
    src: url('/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}
.name{
    color: black;
    text-align: center;
    font-family: 'roboto';
}
.id{
    color: #964d22;
    text-align: center;
    font-family: 'roboto';
}
.chess{
    color: black;
    text-align: center;
    font-family: 'roboto';
}
.chessboard
{
    text-align: center;
}
